/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;

}

:root {
    --text-color: #FFFFFF;
    --bg-color: #161616;
}

.container {
    margin: 50px 7%;
}

/* Header */
header {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.banner-details {
    padding: 10% 12%;
}

.banner-title {
    color: var(--text-color);
    font-size: 3.5vw;
    font-weight: 900;
}

.banner-des {
    color: var(--text-color);
    font-weight: lighter;
    font-size: small;
}

.watch-btn {
    display: block;
    border: none;
    padding: 10px 15px;
    background-color: #DD0000;
    color: var(--text-color);
    letter-spacing: 2px;
    border-radius: 5px;
}

.banner-img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
}

.banner-img img {
    height: 600px;
    width: 80%;
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    0% {
        margin-left: 0%;
    }

    50% {
        margin-left: 300px;
    }

    100% {
        margin-left: 0%;
    }
}

/* Main */
main {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 220px 1fr;
    justify-content: center;
    grid-column-gap: 20px;
}

.nav-bar {
    background-color: var(--bg-color);
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-btn {
    height: 45px;
    width: 190px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: none;
}

.active-btn {
    background-color: #DD0000;

}

.nav-btn a {
    text-decoration: none;
    color: #161616;
    font-weight: bold;
    font-size: 16px;
}

.active-btn a {
    color: #FFFFFF;
}

.blog-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #4b0505;
    padding: 20px;
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
}

.item-title {
    color: #FFFFFF;
    text-align: center;
}

.item ul {
    margin-top: 0;
}

.item li {
    list-style: none;

    text-align: center;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-weight: bold;
    color: #4b0505;
}


















/* view btn */
.view-btn-section {
    display: none;
}

/* footer */
footer {
    margin-top: 50px;
    padding: 5% 10% 10% 10%;
    background-color: #161616;
    text-align: center;
}

.footer-title {
    color: #FFFFFF;
}

.hr {
    border-bottom: 1px solid #FFFFFF;
    border-width: 0.1pc;
    opacity: 0.5;
    margin: 30px;
}

.footer-link {
    display: flex;
    justify-content: space-evenly;
}

.link-item {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.social-link {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.social-link a {

    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}

/* Tablet Layout */
@media screen and (min-width:769px) and (max-width : 992px) {
    .container {
        margin: 20px 2%;
    }

    main {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .nav-bar {
        background-color: #FFFFFF;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        height: auto;
    }

    .nav-btn {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .blog-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .view-btn-section {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .view-btn {
        border: none;
        padding: 10px 15px;
        background-color: #DD0000;
        color: var(--text-color);
        letter-spacing: 2px;
        border-radius: 5px;
    }

    footer {
        padding: 5%;
    }
}

/* Mobile */
@media screen and (max-width : 768px) {
    .container {
        margin: 2%;
    }

    header {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner-title {
        text-align: center;
        font-size: 28px;
    }

    .banner-des {
        text-align: center;
    }

    .watch-btn {
        margin: 0 auto;
        width: 200px;
        height: 50px;
        font-size: 20px;
    }

    .banner-img {
        margin: 0 40px;
    }

    main {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-bar {
        background-color: #FFFFFF;
        margin-top: -50px;
    }

    .nav-btn {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .blog-items {
        grid-template-columns: repeat(1, 1fr);
    }




    .footer-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-link a {
        margin-bottom: 20px;
    }
}